* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /* Background Color */
  --bg-primary-color: #0c0c0c;

  /* Text Color */
  --text-primary-color: #f0f0f0;

  /* Spacing Variables*/
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Border colors */
  --border-primary-color: #333;

  /* Border Radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main,
section {
  width: 100%;
  height: 100%;
}

section {
  padding: var(--space-2xl);
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm)
}

.board{
    margin-top: var(--space-3xl);
    width: 100%;
    height: 500px;
    background-color: #222;
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
    position: relative;
}